@media (min-width: 320px) {
  main .containerf {
    padding: 0 16px;
  }
  main .container {
    padding: 0 16px;
  }
  main .detaliu {
    padding: 13px 0 20px 0;
    margin: 0;
  }
  main .hmpage {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 11px;
  }
  main .hmpage span {
    font-size: 14px;
    font-weight: 800;
    line-height: 18px;
    color: #1D1929;
  }
  main .hmpage a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: #D9D9D9;
  }
  main img {
    border: 1px solid #646464;
    width: auto;
    height: auto;
    max-width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  main h1 {
    font-size: 24px;
    font-weight: 800;
    line-height: 26px;
    color: #1D1929;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 23px;
  }
  main .stele {
    line-height: 1;
  }
  main .stele p {
    margin: 0;
    padding-left: 5.5px;
    display: inline-block;
    padding-left: 103px;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color: #1D1929;
  }
  main .stele p.unu, main .stele p.doi {
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 15px;
    font-weight: 900;
    padding: 0;
    text-align: center;
    overflow-wrap: unset;
    letter-spacing: 3.5px;
    position: absolute;
  }
  main .stele p.unu span, main .stele p.doi span {
    display: none;
  }
  main .stele p.unu:after, main .stele p.doi:after {
    content: "\f005\f005\f005\f005\f005";
    color: #646464;
  }
  main .stele p.doi {
    max-width: 80px;
    overflow: hidden;
    position: absolute;
  }
  main .stele p.doi:after {
    color: #FFDE54;
  }
  main .stele p.doi.unu {
    position: relative;
  }
  main .preturi2 {
    padding-top: 6px;
  }
  main .preturi2 p {
    font-size: 24px;
    font-weight: 700;
    line-height: 24.3px;
    color: #CA8383;
    margin: 0;
    padding: 0;
    padding-right: 10px;
    display: inline-block;
  }
  main .preturi2 span {
    text-decoration: line-through;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 24.3px;
    color: #000000;
  }
  main .detaliu {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    color: #1D1929;
  }
  main h4 {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #77757F;
    margin: 0;
    padding-bottom: 10px;
  }
  main .salemb {
    border-radius: 16px;
    background-color: #059E67;
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 18px;
    color: #1D1929;
    font-weight: 900;
    padding: 0;
    width: 100%;
    text-align: center;
    padding: 11.5px 0;
    margin-top: 10px;
    text-decoration: none;
  }
  main .salemb:after {
    content: "\f290";
    background-color: #059E67;
    color: white;
  }
  main .salemb span {
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    color: #FFFFFF;
  }
  main .detaliifructe {
    padding-bottom: 16px;
    padding-top: 18px;
  }
  main .detaliifructe h3 {
    font-size: 16px;
    font-weight: 800;
    line-height: 18px;
    color: #059E67;
    margin: 0;
  }
  main .detaliifructe p {
    font-size: 16px;
    font-weight: 800;
    line-height: 18px;
    color: #1D1929;
    margin: 0;
    padding: 0;
  }
  main .detaliifructe .sub-menu {
    font-size: 16px;
    font-weight: 800;
    line-height: 18px;
    color: #1D1929;
    margin: 0;
    padding-left: 10px;
    list-style-position: inside;
  }
  main .detaliifructe .navnutritional {
    list-style: none;
    padding: 0;
  }
  main .detaliifructe .navnutritional .titledetails {
    display: inline-block;
    padding-top: 20px;
  }
  main .detaliifructe .navnutritional .plusicon {
    display: none;
  }
  main .detaliifructe .navnutritional .plus {
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 0.5;
    font-size: 35px;
    font-weight: 900;
    padding: 0;
    text-align: center;
    overflow-wrap: unset;
    position: absolute;
    z-index: 0;
    padding-left: 10px;
    text-decoration: none;
  }
  main .detaliifructe .navnutritional .plus:after {
    content: "+";
    color: #059E67;
  }
  main .detaliifructe .navnutritional .detaliinutritionale {
    display: flex;
    align-items: center;
  }
  main .detaliifructe .navnutritional .showdetailsplus {
    text-decoration: none;
    font-size: 24px;
    font-weight: 800;
    line-height: 28px;
    color: #059E67;
    padding-left: 10px;
  }
  main .detaliifructe .navnutritional .showdetailsminus {
    text-decoration: none;
    font-size: 24px;
    font-weight: 800;
    line-height: 28px;
    color: #059E67;
    padding-left: 10px;
  }
  main .detaliifructe .navnutritional .showdetails {
    display: inline-block;
  }
  main .detaliifructe .navnutritional .sub-menu {
    display: none;
  }
  main .detaliifructe .navnutritional .sub-menu2 {
    display: none;
  }
  main .detaliifructe .navnutritional .showsub-menu .plusicon {
    display: none;
  }
  main .detaliifructe .navnutritional .showsub-menu .plus {
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 0.5;
    font-size: 35px;
    font-weight: 900;
    padding: 0;
    text-align: center;
    overflow-wrap: unset;
    position: absolute;
    z-index: 0;
    padding-left: 10px;
    text-decoration: none;
  }
  main .detaliifructe .navnutritional .showsub-menu .plus:after {
    content: "\f068";
    color: #059E67;
  }
  main .detaliifructe .navnutritional .showsub-menu + .sub-menu {
    display: block;
    margin: 0;
    padding-left: 10px;
    list-style-position: inside;
    font-size: 16px;
    font-weight: 800;
    line-height: 18px;
    color: #1D1929;
    list-style-type: disc;
  }
  main .detaliifructe .navnutritional .showsub-menu2 + .sub-menu2 {
    display: block;
    margin: 0;
    padding-left: 10px;
    list-style-position: inside;
    font-size: 22px;
    font-weight: 800;
    line-height: 36px;
    color: #1D1929;
    list-style-type: disc;
  }
  main .stele p .doi {
    max-width: 60%;
  }
<<<<<<< HEAD
  main .card1:hover {
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.45);
=======
}
@media (min-width: 800px) {
  main .col-lg-4 {
    width: 33.33%;
  }
  main h1 {
    padding-bottom: 69px;
>>>>>>> c212f3c78120502f7276b4a1b0bf415d40093cad
  }
  main .card1:hover .detalii .salemb {
    background-color: #00774C;
  }
  main .card1:hover .detalii .salemb::after {
    background-color: #00774C;
  }
  main .card1 {
    flex-direction: column;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 0;
    border: 1px solid black;
    background-color: #FFFFFF;
    justify-content: space-between;
    padding: 16px 0;
    margin-bottom: 16px;
    margin-top: 15px;
    width: 100%;
  }
  main .card1 img {
    border: none;
  }
  main .card1 .fruct {
    padding-bottom: 85%;
    width: 85%;
    float: left;
    height: 0;
  }
  main .card1 .fruct .oferte {
    font-size: 16px;
    font-weight: normal;
    line-height: 20.8px;
    color: #77757F;
    padding: 4px 11px;
    background-color: #F0FEE2;
    border: 1px solid #F0FEE2;
    margin: 0;
    position: absolute;
    z-index: 1;
    left: 42px;
    top: 30px;
    border-radius: 10px;
    padding: 4px 8px;
  }
  main .card1 .detalii {
    width: 90%;
    display: inline-block;
  }
  main .card1 .detalii .nume {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: #1D1929;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  main .card1 .detalii .gramaj {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: #77757F;
    margin: 0;
    padding-bottom: 12px;
    letter-spacing: 0.03em;
    padding-top: 15px;
  }
  main .card1 .detalii .detalii2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  main .card1 .detalii .pret {
    padding-top: 9.5px;
    padding-bottom: 16px;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    color: #1D1929;
    margin: 0;
  }
  main .card1 .detalii .stele {
    display: inline-block;
    width: 116px;
    padding-top: 14.5px;
    position: relative;
    letter-spacing: 8px;
    padding-bottom: 16px;
  }
  main .card1 .detalii .stele p {
    margin: 0;
  }
  main .card1 .detalii .stele p.unu, main .card1 .detalii .stele p.doi {
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 15px;
    font-weight: 900;
    padding: 0;
    text-align: center;
    overflow-wrap: unset;
    position: absolute;
    z-index: 0;
  }
  main .card1 .detalii .stele p.unu span, main .card1 .detalii .stele p.doi span {
    display: none;
  }
  main .card1 .detalii .stele p.unu:after, main .card1 .detalii .stele p.doi:after {
    content: "\f005\f005\f005\f005\f005";
    color: #646464;
  }
  main .card1 .detalii .stele p.doi {
    max-width: 70%;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    width: 100%;
  }
  main .card1 .detalii .stele p.doi:after {
    color: #FFDE54;
  }
  main .card1 .detalii .stele p.doi.unu {
    position: relative;
  }
  main .card1 .detalii .stele2 {
    display: inline-block;
    width: 116px;
    padding-top: 14.5px;
    position: relative;
    overflow-wrap: unset;
    letter-spacing: 8px;
    padding-bottom: 16px;
  }
  main .card1 .detalii .stele2 p {
    margin: 0;
  }
  main .card1 .detalii .stele2 p.unu, main .card1 .detalii .stele2 p.doi {
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 15px;
    font-weight: 900;
    padding: 0;
    text-align: center;
    overflow-wrap: unset;
    position: absolute;
    z-index: 0;
  }
  main .card1 .detalii .stele2 p.unu span, main .card1 .detalii .stele2 p.doi span {
    display: none;
  }
  main .card1 .detalii .stele2 p.unu:after, main .card1 .detalii .stele2 p.doi:after {
    content: "\f005\f005\f005\f005\f005";
    color: #646464;
  }
  main .card1 .detalii .stele2 p.doi {
    max-width: 60%;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    width: 100%;
  }
  main .card1 .detalii .stele2 p.doi:after {
    color: #FFDE54;
  }
  main .card1 .detalii .stele2 p.doi.unu {
    position: relative;
  }
  main .card1 .detalii .stele3 {
    display: inline-block;
    width: 116px;
    padding-top: 14.5px;
    position: relative;
    letter-spacing: 8px;
    padding-bottom: 16px;
  }
  main .card1 .detalii .stele3 p {
    margin: 0;
  }
  main .card1 .detalii .stele3 p.unu, main .card1 .detalii .stele3 p.doi {
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 15px;
    font-weight: 900;
    padding: 0;
    text-align: center;
    overflow-wrap: unset;
    position: absolute;
    z-index: 0;
  }
  main .card1 .detalii .stele3 p.unu span, main .card1 .detalii .stele3 p.doi span {
    display: none;
  }
  main .card1 .detalii .stele3 p.unu:after, main .card1 .detalii .stele3 p.doi:after {
    content: "\f005\f005\f005\f005\f005";
    color: #646464;
  }
  main .card1 .detalii .stele3 p.doi {
    max-width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    width: 100%;
  }
  main .card1 .detalii .stele3 p.doi:after {
    color: #FFDE54;
  }
  main .card1 .detalii .stele3 p.doi.unu {
    position: relative;
  }
  main .card1 .detalii .salemb {
    border-radius: 16px;
    background-color: #059E67;
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 18px;
    color: #1D1929;
    font-weight: 900;
    padding: 0;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    display: flex;
    align-items: baseline;
    justify-content: center;
    display: flex;
    margin: 0;
  }
  main .card1 .detalii .salemb:after {
    content: "\f290";
    background-color: #059E67;
    color: white;
    font-size: 20px;
    border: 0;
  }
  main .card1 .detalii .mbbuy {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    color: #FFFFFF;
    display: block;
    padding-right: 17px;
  }
  main .card1 .pretred {
    float: right;
    padding-top: 8px;
  }
  main .card1 .preturi2 {
    padding-bottom: 16px;
    padding-top: 0;
    width: 100%;
  }
  main .card1 .preturi2 .pret1 {
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    color: #CA8383;
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  main .card1 .preturi2 .pret3 {
    text-decoration: line-through;
    margin: 0 0 0 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #1D1929;
  }
  main .glide__track {
    margin: 0 -10px;
  }
  main .glide__arrow {
    box-shadow: none;
  }
  main .glide__arrow--left {
    border: 0;
    background-color: transparent;
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 30px;
    color: #1D1929;
    font-weight: 900;
    position: absolute;
    left: -35px;
  }
  main .glide__arrow--left:after {
    content: "\f0d9";
    color: #059E67;
  }
  main .glide__arrow--left .arrowslide {
    display: none;
  }
  main .glide__arrow--right {
    border: 0;
    background-color: transparent;
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 30px;
    color: #1D1929;
    font-weight: 900;
    position: absolute;
    right: -37px;
  }
  main .glide__arrow--right:after {
    content: "\f0da";
    color: #059E67;
  }
  main .glide__arrow--right .arrowslide {
    display: none;
  }
  main .glide__slide {
    margin: 0;
  }
  main input {
    border: 2px solid;
    width: 100%;
    text-align: center;
    padding: 15px 0;
  }
  main .butoane {
    position: relative;
    display: inline-block;
    width: 50%;
  }
  main .butoane span {
    display: none;
  }
  main .butoane .plus {
    border: 0;
    background-color: transparent;
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 18px;
    color: #1D1929;
    font-weight: 900;
    padding: 0;
    top: 20px;
    right: 5px;
    position: absolute;
  }
  main .butoane .plus:after {
    content: "\f067";
    color: #D9D9D9;
  }
  main .butoane .minus {
    border: 0;
    background-color: transparent;
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 18px;
    color: #1D1929;
    font-weight: 900;
    padding: 0;
    position: absolute;
    top: 20px;
    left: 5px;
  }
  main .butoane .minus:before {
    content: "\f068";
    color: #D9D9D9;
  }
}
@media (min-width: 600px) {
  main .but2 {
    width: 100%;
  }
  main .butoane {
    width: 30%;
  }
  main .salemb {
    width: 60%;
    margin-top: 0;
    margin-left: 15px;
  }
}
@media (min-width: 800px) {
  main h1 {
    padding-bottom: 69px;
  }
  main .preturi2 {
    padding-top: 24px;
  }
  main .hmpage {
    padding-bottom: 52px;
    padding-top: 48px;
  }
  main .rating {
    font-size: 20px;
  }
  main .butoane {
    display: inline-block;
    width: 18%;
  }
  main .butoane .minus {
    top: 20px;
    left: 6px;
    position: absolute;
  }
  main .butoane .plus {
    top: 20px;
    right: 7px;
    position: absolute;
  }
  main .rating {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
  main .bucati {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 55px;
  }
  main .but2 {
    display: inline-block;
    width: 100%;
  }
  main input {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding-left: 8px;
  }
  main .salemb {
    width: 50%;
    margin-left: 15px;
    margin-top: 0;
    line-height: 1.5;
  }
  main .salemb:hover {
    background-color: #00774C;
  }
  main .salemb:hover:after {
    background-color: #00774C;
  }
}
@media (min-width: 1200px) {
  main {
    padding-bottom: 24px;
  }
  main .preturi2 {
    padding: 0;
    float: right;
  }
  main .stele p {
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color: #1D1929;
    padding-left: 120px;
  }
  main .stele p.doi {
    max-width: 96px;
  }
  main .stele p.unu, main .stele p.doi {
    letter-spacing: 5px;
    font-size: 18px;
  }
  main .hmpage {
    padding: 48px 0 52px 0;
  }
  main .container {
    padding: 0 40px;
  }
  main h1 {
    font-size: 32px;
    font-weight: 800;
    line-height: 36px;
    color: #1D1929;
    padding-bottom: 69px;
    padding-top: 0px;
  }
  main .detaliu {
    font-size: 22px;
    font-weight: 800;
    line-height: 36px;
    color: #1D1929;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  main .detaliifructe {
    padding: 50px 0 50px 0;
  }
  main .detaliifructe p {
    font-size: 22px;
    font-weight: 800;
    line-height: 36px;
    color: #1D1929;
  }
  main .detaliifructe h3 {
    font-size: 22px;
    font-weight: 800;
    line-height: 36px;
    color: #059E67;
  }
  main .detaliifructe .navnutritional {
    list-style: none;
    padding: 0;
  }
  main .detaliifructe .navnutritional .titledetails {
    display: inline-block;
    padding-top: 20px;
  }
  main .detaliifructe .navnutritional .plusicon {
    display: none;
  }
  main .detaliifructe .navnutritional .plus {
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 35px;
    font-weight: 900;
    padding: 0;
    text-align: center;
    overflow-wrap: unset;
    position: absolute;
    z-index: 0;
    padding-left: 10px;
    text-decoration: none;
  }
  main .detaliifructe .navnutritional .plus:after {
    content: "+";
    color: #059E67;
  }
  main .detaliifructe .navnutritional .detaliinutritionale {
    display: flex;
    align-items: center;
  }
  main .detaliifructe .navnutritional .showdetailsplus {
    text-decoration: none;
    font-size: 24px;
    font-weight: 800;
    line-height: 28px;
    color: #059E67;
    padding-left: 10px;
  }
  main .detaliifructe .navnutritional .showdetailsminus {
    text-decoration: none;
    font-size: 24px;
    font-weight: 800;
    line-height: 28px;
    color: #059E67;
    padding-left: 10px;
  }
  main .detaliifructe .navnutritional .showdetails {
    display: inline-block;
  }
  main .detaliifructe .navnutritional .sub-menu {
    display: none;
  }
  main .detaliifructe .navnutritional .sub-menu2 {
    display: none;
  }
  main .detaliifructe .navnutritional .showsub-menu .plusicon {
    display: none;
  }
  main .detaliifructe .navnutritional .showsub-menu .plus {
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 35px;
    font-weight: 900;
    padding: 0;
    text-align: center;
    overflow-wrap: unset;
    position: absolute;
    z-index: 0;
    padding-left: 10px;
    text-decoration: none;
  }
  main .detaliifructe .navnutritional .showsub-menu .plus:after {
    content: "\f068";
    color: #059E67;
  }
  main .detaliifructe .navnutritional .showsub-menu + .sub-menu {
    display: block;
    margin: 0;
    padding-left: 10px;
    list-style-position: inside;
    font-size: 22px;
    font-weight: 800;
    line-height: 36px;
    color: #1D1929;
    list-style-type: disc;
  }
  main .detaliifructe .navnutritional .showsub-menu2 + .sub-menu2 {
    display: block;
    margin: 0;
    padding-left: 10px;
    list-style-position: inside;
    font-size: 22px;
    font-weight: 800;
    line-height: 36px;
    color: #1D1929;
    list-style-type: disc;
  }
  main .stele p .doi {
    max-width: 60%;
  }
  main .card1:hover {
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.45);
  }
  main .card1:hover .detalii .salemb {
    background-color: #00774C;
  }
  main .card1:hover .detalii .salemb::after {
    background-color: #00774C;
  }
  main .card1 {
    flex-direction: column;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 0;
    border: 1px solid black;
    background-color: #FFFFFF;
    justify-content: space-between;
    padding: 16px 0;
    margin-bottom: 16px;
    margin-top: 15px;
    width: 100%;
    box-sizing: border-box;
  }
  main .card1 img {
    border: none;
  }
  main .card1 .fruct {
    padding-bottom: 85%;
    width: 85%;
    float: left;
    height: 0;
  }
  main .card1 .fruct .oferte {
    font-size: 16px;
    font-weight: normal;
    line-height: 20.8px;
    color: #77757F;
    padding: 4px 11px;
    background-color: #F0FEE2;
    border: 1px solid #F0FEE2;
    margin: 0;
    position: absolute;
    z-index: 1;
    left: 42px;
    top: 30px;
    border-radius: 10px;
    padding: 4px 8px;
  }
  main .card1 .detalii {
    width: 90%;
    display: inline-block;
  }
  main .card1 .detalii .nume {
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    color: #1D1929;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  main .card1 .detalii .gramaj {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: #77757F;
    margin: 0;
    padding-bottom: 12px;
    letter-spacing: 0.03em;
    padding-top: 15px;
  }
  main .card1 .detalii .detalii2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  main .card1 .detalii .pret {
    padding-top: 9.5px;
    padding-bottom: 16px;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    color: #1D1929;
    margin: 0;
  }
  main .card1 .detalii .stele {
    display: inline-block;
    width: 116px;
    padding-top: 14.5px;
    position: relative;
    letter-spacing: 8px;
    padding-bottom: 16px;
  }
  main .card1 .detalii .stele p {
    margin: 0;
  }
  main .card1 .detalii .stele p.unu, main .card1 .detalii .stele p.doi {
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 15px;
    font-weight: 900;
    padding: 0;
    text-align: center;
    overflow-wrap: unset;
    position: absolute;
    z-index: 0;
  }
  main .card1 .detalii .stele p.unu span, main .card1 .detalii .stele p.doi span {
    display: none;
  }
  main .card1 .detalii .stele p.unu:after, main .card1 .detalii .stele p.doi:after {
    content: "\f005\f005\f005\f005\f005";
    color: #646464;
  }
  main .card1 .detalii .stele p.doi {
    max-width: 75%;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    width: 100%;
  }
  main .card1 .detalii .stele p.doi:after {
    color: #FFDE54;
  }
  main .card1 .detalii .stele p.doi.unu {
    position: relative;
  }
  main .card1 .detalii .stele2 {
    display: inline-block;
    width: 116px;
    padding-top: 14.5px;
    position: relative;
    overflow-wrap: unset;
    letter-spacing: 8px;
    padding-bottom: 16px;
  }
  main .card1 .detalii .stele2 p {
    margin: 0;
  }
  main .card1 .detalii .stele2 p.unu, main .card1 .detalii .stele2 p.doi {
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 15px;
    font-weight: 900;
    padding: 0;
    text-align: center;
    overflow-wrap: unset;
    position: absolute;
    z-index: 0;
  }
  main .card1 .detalii .stele2 p.unu span, main .card1 .detalii .stele2 p.doi span {
    display: none;
  }
  main .card1 .detalii .stele2 p.unu:after, main .card1 .detalii .stele2 p.doi:after {
    content: "\f005\f005\f005\f005\f005";
    color: #646464;
  }
  main .card1 .detalii .stele2 p.doi {
    max-width: 60%;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    width: 100%;
  }
  main .card1 .detalii .stele2 p.doi:after {
    color: #FFDE54;
  }
  main .card1 .detalii .stele2 p.doi.unu {
    position: relative;
  }
  main .card1 .detalii .stele3 {
    display: inline-block;
    width: 116px;
    padding-top: 14.5px;
    position: relative;
    letter-spacing: 8px;
    padding-bottom: 16px;
  }
  main .card1 .detalii .stele3 p {
    margin: 0;
  }
  main .card1 .detalii .stele3 p.unu, main .card1 .detalii .stele3 p.doi {
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 15px;
    font-weight: 900;
    padding: 0;
    text-align: center;
    overflow-wrap: unset;
    position: absolute;
    z-index: 0;
  }
  main .card1 .detalii .stele3 p.unu span, main .card1 .detalii .stele3 p.doi span {
    display: none;
  }
  main .card1 .detalii .stele3 p.unu:after, main .card1 .detalii .stele3 p.doi:after {
    content: "\f005\f005\f005\f005\f005";
    color: #646464;
  }
  main .card1 .detalii .stele3 p.doi {
    max-width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    width: 100%;
  }
  main .card1 .detalii .stele3 p.doi:after {
    color: #FFDE54;
  }
  main .card1 .detalii .stele3 p.doi.unu {
    position: relative;
  }
  main .card1 .detalii .salemb {
    border-radius: 16px;
    background-color: #059E67;
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 18px;
    color: #1D1929;
    font-weight: 900;
    padding: 0;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    display: flex;
    align-items: baseline;
    justify-content: center;
    display: flex;
    margin: 0;
  }
  main .card1 .detalii .salemb:after {
    content: "\f290";
    background-color: #059E67;
    color: white;
    font-size: 20px;
    border: 0;
  }
  main .card1 .detalii .mbbuy {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    color: #FFFFFF;
    display: block;
    padding-right: 17px;
  }
  main .card1 .pretred {
    float: right;
    padding-top: 8px;
  }
  main .card1 .preturi2 {
    padding-bottom: 16px;
    width: 100%;
  }
<<<<<<< HEAD
  main .card1 .preturi2 .pret1 {
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    color: #CA8383;
    margin: 0;
=======
  main .col-lg-4 {
    width: 33.33%;
  }
  main .preturi2 {
>>>>>>> c212f3c78120502f7276b4a1b0bf415d40093cad
    padding: 0;
    display: inline-block;
  }
  main .card1 .preturi2 .pret3 {
    text-decoration: line-through;
    margin: 0 0 0 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #1D1929;
  }
  main .glide__arrow {
    box-shadow: none;
  }
  main .glide__arrow--left {
    border: 0;
    background-color: transparent;
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 30px;
    color: #1D1929;
    font-weight: 900;
    position: absolute;
    left: -45px;
  }
  main .glide__arrow--left:after {
    content: "\f0d9";
    color: #059E67;
  }
  main .glide__arrow--left .arrowslide {
    display: none;
  }
  main .glide__arrow--right {
    border: 0;
    background-color: transparent;
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 30px;
    color: #1D1929;
    font-weight: 900;
    position: absolute;
    right: -35px;
  }
  main .glide__arrow--right:after {
    content: "\f0da";
    color: #059E67;
  }
  main .glide__arrow--right .arrowslide {
    display: none;
  }
  main .glide {
    padding: 0 10px;
  }
  main .glide__slide {
    margin: 0;
  }
  main .glide__track {
    margin: 0 -10px;
    width: 100%;
    padding: 0;
  }
}
@media (min-width: 320px) {
  body {
    margin: 0;
  }

  footer {
    background-color: #F9F9F9;
  }
  footer a.poza {
    display: none;
  }
  footer h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    color: #000000;
  }
  footer li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #1D1929;
  }
  footer p {
    margin: 0;
    padding: 30px 0 23px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #000000;
  }
  footer ul {
    list-style-type: none;
    padding: 0;
  }
  footer .c1 {
    margin: 0;
    padding: 10px 0 0 0;
  }
  footer h3 {
    padding: 16px 0 0 0;
    margin: 0;
  }

  .container {
    padding: 0 16px;
  }

  .containerf {
    padding: 0 16px;
  }
}
@media (min-width: 1024px) {
  footer {
    background-color: #D9D9D9;
  }
  footer a.poza {
    display: inline-block;
    padding: 40px 0px;
  }
  footer a.poza img {
    width: 211px;
    height: auto;
  }
  footer .foter {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
  footer h3 {
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    color: #000000;
  }
  footer li a {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #1D1929;
  }
  footer p {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #1D1929;
    text-align: left;
  }
  footer .c1 {
    padding: 20px 0 0 0;
  }

  .containerf {
    padding: 0 40px;
    text-align: center;
  }
}
@media (min-width: 320px) {
  header {
    text-align: center;
    padding: 25px 54px;
    margin: 0;
    background-color: #D9D9D9;
  }
  header .mobilebtn {
    border: 0;
    background-color: transparent;
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 30px;
    color: #1D1929;
    font-weight: 900;
    position: absolute;
    left: 15px;
    top: 25px;
  }
  header .mobilebtn:after {
    content: "\f0c9";
    color: #059E67;
  }
  header .mobilebtn .iconmob {
    display: none;
  }
  header .navbar {
    background-color: #77757F;
    display: none;
    position: absolute;
    width: 50%;
    padding: 0;
  }
  header .navigation-active {
    height: 100%;
    overflow-x: hidden;
    z-index: 1;
  }
  header .navigation-active + .navbar {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;
    list-style: none;
    width: 100%;
  }
  header .navigation-active + .navbar .navbuton {
    display: inline-block;
  }
  header .navigation-active + .navbar .cart {
    display: none;
  }
  header .navigation-active + .navbar .dropbtn {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    color: #1D1929;
    margin-left: 15px;
  }
  header .navigation-active + .navbar .dropbtn2 {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    color: #CA8383;
    margin-left: 15px;
  }
  header .navigation-active + .navbar .menu {
    display: none;
    list-style-type: none;
  }
  header .navigation-active + .navbar .menu a {
    text-transform: none;
    display: block;
    text-decoration: none;
  }
  header .navigation-active + .navbar .showmenu + .menu {
    display: inline;
    padding: 0;
    margin-top: 25px;
    padding: 25px;
    z-index: 1;
    background-color: #77757F;
  }
  header .navigation-active + .navbar .showmenu + .menu .aditionaltext {
    position: absolute;
    z-index: 1;
    top: 25px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #1D1929;
    padding: 25px;
    display: none;
  }
  header .navigation-active + .navbar .showmenu + .menu .aditionaltext2 {
    position: absolute;
    z-index: 1;
    top: 65px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #A5A3A9;
    padding: 25px;
    max-width: 30%;
    display: none;
  }
  header .navigation-active + .navbar .showmenu + .menu .aditionaltext3 {
    position: absolute;
    z-index: 1;
    bottom: 20px;
    font-size: 14px;
    font-weight: 800;
    line-height: 28px;
    color: #1D1929;
    padding: 25px;
    display: none;
  }
  header .navigation-active + .navbar .showmenu + .menu img {
    height: auto;
    width: auto;
    position: relative;
    z-index: 0;
    display: none;
  }
  header .navigation-active + .navbar .showmenu + .menu li {
    z-index: 1;
  }
  header .navigation-active + .navbar .showmenu + .menu li a {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #1D1929;
    padding-top: 9px;
    padding-left: 30px;
  }
  header img {
    height: auto;
    width: 211px;
  }
  header a {
    display: inline-block;
  }
}
@media (min-width: 1024px) {
  header {
    padding: 25px 0px 25px 40px;
    margin: 0;
    background-color: #D9D9D9;
    text-align: left;
  }
  header .navigation {
    display: inline;
  }
  header .mobilebtn {
    display: none;
  }
  header .dropmenumob {
    display: none;
  }
  header .dropmenumob .iconmob {
    display: none;
  }
  header .navbar {
    background-color: #D9D9D9;
    position: absolute;
    display: inline-block;
    padding-left: 50px;
    list-style: none;
    width: 80%;
  }
  header .navbar .navbuton {
    display: inline-block;
  }
  header .navbar .cart {
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1.5;
    font-size: 15px;
    font-weight: 900;
    padding: 0;
    text-align: center;
    overflow-wrap: unset;
    position: absolute;
    z-index: 0;
    right: 30px;
    text-decoration: none;
  }
  header .navbar .cart:after {
    content: "\f07a";
    color: black;
  }
  header .navbar .cart span {
    display: none;
  }
  header .navbar .dropbtn {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    color: #1D1929;
    margin-left: 15px;
  }
  header .navbar .dropbtn2 {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    color: #CA8383;
    margin-left: 15px;
  }
  header .navbar .dropbtn:hover,
header .navbar .dropbtn2:hover {
    color: #059E67;
  }
  header .navbar .menu {
    display: none;
    position: absolute;
    list-style-type: none;
  }
  header .navbar .menu a {
    text-transform: none;
    display: block;
    text-decoration: none;
  }
  header .navbar .showmenu + .menu {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    padding: 0;
    margin-top: 25px;
    background-color: #FFFFFF;
    padding: 25px;
    box-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.25);
    z-index: 1;
  }
  header .navbar .showmenu + .menu .aditionaltext {
    position: absolute;
    z-index: 1;
    top: 25px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #1D1929;
    padding: 25px;
  }
  header .navbar .showmenu + .menu .aditionaltext2 {
    position: absolute;
    z-index: 1;
    top: 65px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #A5A3A9;
    padding: 25px;
    max-width: 30%;
  }
  header .navbar .showmenu + .menu .aditionaltext3 {
    position: absolute;
    z-index: 1;
    bottom: 20px;
    font-size: 14px;
    font-weight: 800;
    line-height: 28px;
    color: #1D1929;
    padding: 25px;
  }
  header .navbar .showmenu + .menu img {
    height: auto;
    width: auto;
    position: relative;
    z-index: 0;
  }
  header .navbar .showmenu + .menu li {
    z-index: 1;
    background-color: #FFFFFF;
  }
  header .navbar .showmenu + .menu li a {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #1D1929;
    padding-top: 9px;
    padding-left: 30px;
  }
  header .navbar .showmenu + .menu li a:hover {
    color: #059E67;
  }
  header img {
    height: auto;
    width: 211px;
  }
}
body {
  font-family: "Nunito Sans";
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*# sourceMappingURL=detalii.css.map */
